/*WooCommerce*/
.main-woocommerce{padding-top:36px;}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span{padding: 4px 8px;}
.woocommerce .star-rating{color: #d33;}