<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension=".php" mimeType="application/php" />
        </staticContent>
        <handlers>
            <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Administrator\Desktop\php\php-cgi.exe" resourceType="Either" />
        </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>
	</system.webServer>
    <system.web>
        <identity impersonate="false" />
    </system.web>
</configuration>
